@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

body {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.home-container {
  background-color: #265025;
  height: 844px;
  color: white;
  display: grid;
  place-items: center;
}

.logo-container {
  text-align: center;
}

.logo-container h4{
  font-size: 14px;
  margin-bottom: 30px;
}

/* Grocery List */

.grocerylist-card {
  display: grid;
  grid-template-columns: 40% 30% 10% 10%;
  justify-content: center;
  box-shadow: 2px 2px 7px rgb(137, 162, 136, 0.8);
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.grocerylist-card button {
  border: none;
  background-color: transparent;

}

.add-btn{
  border-radius: 50px;
  width: 45px;
  height: 45px;
  font-size: 30px;
  background-color: rgb(38, 80, 37);
  color: white;
  border-color: rgb(38, 80, 37);
  float: right;
}

/* My Fridge */
.myfridgelist-card{
  display: grid;
  grid-template-columns: 45% 35% 10%;
  justify-content: center;
  box-shadow: 2px 2px 7px rgb(137, 162, 136, 0.8);
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.myfridgelist-card button {
  border: none;
  background-color: transparent;
}

/* Nav Bar */

.nav-container{
  border: solid black;
  height: 55px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.nav-container a {
  text-decoration: none;
  color: rgb(38, 80, 37);
}

.nav {
  text-align: center;
  font-size: 20px;
  width: 100%;
  margin-top: 10px;
  line-height: 55px;
  border: 1px solid rgb(38, 80, 37);
  border-bottom: 1px transparent;
}

/* Add Grocery */
.back-btn{
  border: none;
  border-radius: 4px;
  width: 40px;
  height: 30px;
  padding: 3px;
  background: rgb(38, 80, 37);
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

.back-btn:hover {
  box-shadow: 2px 2px 7px rgb(137, 162, 136, 0.8);
}

.form-container {
  box-shadow: 2px 2px 7px rgb(137, 162, 136, 0.8);
  border-radius: 6px;
  padding: 20px;
  height: 250px;
  margin-top: 10px;
}